@model List<Dashboard.Models.ApplicationUser>

@{
    ViewData["Title"] = "Lista de Usuários";
}

<h2>Usuários</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in Model)
        {
            <tr>
                <td>@usuario.Nome</td>
                <td>@usuario.CPF</td>
                <td>@usuario.Email</td>
                <td>@usuario.PhoneNumber</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>